<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Salário líquido
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #Formulario="ngForm">

 <ion-item>
    <ion-label>Valor do salário bruto:</ion-label>
    <ion-input name="sb" ngModel></ion-input>
 </ion-item>

 <ion-item>
    <ion-label>Horas extras trabalhadas:</ion-label> 
    <ion-input name="vl" ngModel></ion-input>
 </ion-item>

 <ion-item> 
   <ion-label>Desconto por faltas:</ion-label> 
   <ion-input name="df" ngModel></ion-input>
 </ion-item>

 <ion-item> 
   <ion-label>% de desconto no IR:</ion-label> 
   <ion-input name="dc" ngModel></ion-input>
 </ion-item>
   
<ion-button (click)="SalLiq(Formulario)">calcular</ion-button>

<ion-item>
   <ion-label>Salário Líquido:</ion-label>
   <ion-input name="res" value="{{resultado}}" ngModel></ion-input>
 </ion-item>
 
</form>

</ion-content>